:root {
    /* Primary */
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);   --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

body {
    /* inputs are 32px font size */
    font-family: 'Poppins', sans-serif;
    background-color: var(--off-white);
}

/* Mobile First Design */
.wrapper {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

.card {
    width: 70%;
    max-width: 700px;
    background-color: var(--white);
    padding: 2.5em 1.75em;
    border-radius: 25px 25px 25% 25px;
}

.inputs {
    display: flex;
    flex-flow: column none;
}

.input {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
}

input {
    width: 90%;
    padding: 0.3em 1em;
    border-radius: 10px;
    outline: none;
    border: 2px solid var(--off-white);
    margin-top: 0.5em;
}

label {
    color: var(--smokey-grey);
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.divider {
    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider-bar {
    width: 38%;
    border-bottom: 1px solid var(--light-grey);
}

.divider-circle {
    width: 4em;
    height: 4em;
    background-color: var(--purple);
    border-radius: 50%;
    flex: 1fr;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
}

svg {
    margin: 0 0.4em 0 0;
    width: 2.5em;
    height: 2.5em;
}

.output {
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: 3em;
    font-weight: 800;
    font-style: italic;
}

.output-quantity {
    color: var(--purple);
}

.input--warn-txt {
    color: var(--light-red);
    margin: 1em 0;
}

.input--warn-border {
    border: 1px solid var(--light-red);
}

.main-error-display {
    color: var(--light-red);
}

#btn:hover {
    opacity: 0.5;
    cursor: pointer;
}

input:focus {
    border: 1px solid var(--purple);
}

@media screen and (max-width: 463px) {
    .inputs {
        flex-direction: column;
    }
    .input {
        margin: 1em 0;
    }
    .output {
        font-size: 2rem;
    }
}

@media (min-width: 800px) {
    .inputs {
        justify-content: flex-start;
        margin-right: 9em;
    }
   
    input {
        width: 80%;
    }

    .divider {
        justify-content: flex-start;
    }

    #form > section.divider > div:nth-child(3) {
        display: none;
    }

    .divider-bar {
        width: 85%;
    }

    .divider-circle {
        background-color: var(--purple);
    }

    #btn:hover {
        background-color: var(--purple);
        opacity: 0.75;
    }
}